@import '../../../styles/sass/mixins.scss';
@import '../../../styles/sass/variables.scss';
.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1200px) {
    position: fixed;
    width: 100%;
    top: 80px;
    right: 0px;
    overflow: hidden;
    height: 0;
  }
  &:after {
    content: '';
    position: absolute;
    height: 11px;
    width: 1px;
    background: $mainColor;
    right: 0px;
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
  .ul {
    position: fixed;
    right: 0;
    top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 20px;
    max-height: 0;
    list-style: none;
    transition-property: max-height, padding;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    transition-delay: 0.2s;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    background-color: $secondaryBg;
    gap: 20px;
    @media screen and (min-width: 1200px) {
      position: static;
      flex-direction: row;
      max-height: 60px;
    }
    li {
      margin-right: 40px;
      &:last-child {
        margin-right: 45px;
      }
      a {
        @include fontInterSettings(16px, 400, 1.6em, $mainColor);
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
        &.active {
          color: $accentColor;
        }
      }
    }
  }
  .activeUl {
    max-height: 500px;
    padding: 0 20px 20px 20px;
  }
}
.activeNav {
  height: 100%;
}
