@import '../../common/styles/sass/variables.scss';
@import '../../common/styles/sass/mixins.scss';
.mainBlock {
  position: relative;
  .mainContainer {
    min-height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .greeting {
      width: 55%;
      h3 {
        margin: 0 0 10px 0;
        @include fontInterSettings(30px, 300, 1.2em, $accentColor);
      }
      h1 {
        margin: 0 0 24px 0;
        @include fontInterSettings(120px, 700, 1, $mainColor);
      }
      h2 {
        margin: 0 0 41px 0;
        @include fontInterSettings(36px, 300, 1.2em, $secondaryColor);
      }
    }
  }
  .photo {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 45%;
    background-image: url('../../assets/images/mainPhoto.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .socialGroup {
      display: flex;
      align-items: center;
      position: absolute;
      width: 400px;
      height: 80px;
      background-color: $thirdyBg;
      bottom: 30px;
      left: -400px;
      padding-left: 12px;

      border: 1px solid $borderColor;
      border-right: 0;
      border-radius: 50px 0 0 50px;
      .socialLink {
        display: flex;
      }
    }
  }
}
