@import '../../styles/sass/variables.scss';
@import '../../styles/sass/mixins.scss';
.footerBlock {
  height: 72px;
  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    p {
      @include fontInterSettings(16px, 400, 1.6em, $secondaryColor);
    }
  }
}
