@import '../../styles/sass/mixins.scss';
@import '../../styles/sass/variables.scss';

.label {
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 12px 1.5em;
  border-radius: 50px;
  background-color: $accentColor;
  min-width: 170px;
  border: none;
  outline: none;
  transition: all 0.4s ease;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0;
  @include fontInterSettings(16px, 500, 1.5em, $secondaryBg);
  &:disabled {
    opacity: 0.5;
  }
}
