.portfolioBlock {
  min-height: calc(100vh - 80px);
}
.portfolioContainer {
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  align-items: center;
  gap: 28px;
  flex-wrap: wrap;
  border: 1px solid;
  width: 100%;
}
