@import '../../common/styles/sass/variables.scss';

.skillsBlock {
  min-height: calc(100vh - 80px);
  .skillsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .skills {
      display: flex;
      justify-content: space-evenly;
      gap: 29px;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}
