.skillsBlock {
  background-color: darkcyan;
  min-height: 100vh;
}

.skillsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.title {
    background-color: darkturquoise;
}
.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid;
  width: 100%;
}
