@import '../../common/styles/sass/variables.scss';

.skillsBlock {
  min-height: 100vh;
  .skillsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .title {
      background-color: darkturquoise;
    }
    .skills {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}
