@import '../../../common/styles/sass/mixins.scss';
@import '../../../common/styles/sass/variables.scss';

.formWrapper {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
  margin-bottom: 30px;

  @media screen and (max-width: 992px) {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-top: 30px;
    .buttonWrapper {
      display: flex;
      align-items: center;
      gap: 30px;
      color: $secondaryColor;
      p {
        @include fontInterSettings(20px, 500, 1.6em, $secondaryColor);
      }
    }
  }
}
