@import "./variables.scss";
@mixin fontInterSettings($size, $weight, $height, $color) {
  font-family: $mainFont;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}
